<html>

<head>
    <title>Setting Page</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <h1 style="background-color: #cc0; width: 90%; text-align: center;">Thông tin quản trị</h1>
    <table style="width:90%">
        <tr>
            <th>Tên</th>
            <th>Giá trị</th>
        </tr>
        <tr>
            <td>
                <p>Mobifone</p>
            </td>
            <td>
                <span>{{data_admin['mobifone']}}</span>
            </td>
        </tr>

    </table>
</body>

</html>