<html>

<head>
    <title>Setting Page</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <h1 style="background-color: #cc0; width: 90%; text-align: center;">Cấu hình các thiết bị</h1>
    <table style="width:90%">
        <tr>
            <th>Tên</th>
            <th>Giá trị</th>
        </tr>
        <tr>
            <td>
                <p>Global Id</p>
            </td>
            <td>
                <span>{{data_setting['globalId']}}</span>
            </td>
        </tr>
        <tr>
            <td>
                <p>Global Longitude</p>
            </td>
            <td>
                <span>{{data_setting['globalLongitude']}}</span>
            </td>
        </tr>
        <tr>
            <td>
                <p>Global City</p>
            </td>
            <td>
                <span>{{data_setting['globalCity']}}</span>
            </td>
        </tr>
        <tr>
            <td>
                <p>Global District</p>
            </td>
            <td>
                <span>{{data_setting['globalDistrict']}}</span>
            </td>
        </tr>
    </table>
</body>

</html>